:root{
    --main-txt-color: rgb(19, 3, 56);
    --main-backgraound-color: rgb(237, 248, 248);
    --sub-txt-color: red;
    --sub-backgraound-color: rgb(221, 238, 238);
    --button-color: rgb(197, 252, 255);
    --active-button-color:rgb(176, 251, 255);
}
body{
    background-color: var(--main-backgraound-color);
    color: var(--main-txt-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.infoBox{
}
#app{
    border: dashed var(--main-txt-color) 1px;
    width: 50%;
    padding: 10px;
    word-wrap: break-word;
}
img{
    width: 100%;
    border-radius: 5px;
}
.important{
    background-color: var(--sub-txt-color);
    padding: 5px;
    word-wrap: break-word;
}

.normal-div{
    background-color: var(--sub-backgraound-color);
    border: dashed var(--main-txt-color) 1px;
    padding: 5px;
    word-wrap: break-word;
}

.special-div{
    background-color: var(--sub-txt-color);
    border-radius: 5px;
    color: var(--main-backgraound-color);
    padding: 5px;
}

.native-button{
    background-color: var(--button-color);
    border: 1px solid rgba(0, 0, 0, 0.498);
    border-radius: 5px;
    box-shadow: none;
    padding: 5px 10px;
    transition: box-shadow 0.3s, border 0.3s;
}
.native-button:hover{
    background-color: var(--button-color);
    border: 1px solid rgba(0, 0, 255, 0.188);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 98, 255, 0.534);
}
.native-button:active{
    background-color: var(--active-button-color);
    box-shadow: 0px 4px 5px rgba(0, 98, 255, 0.534);
}
.tween-content{
    display: flex;
    gap: 10px;
    align-items: center;
}
.list-container{
    margin-left: 5px;
}
.list-container :hover{
    cursor: pointer;
    background-color: var(--main-backgraound-color);
    border-radius: 5px;
}
.list-container :active{
    background-color: var(--active-button-color);
}
.console{
    background-color: black;
    color: rgb(0, 255, 0);
    height: 500px;
    font-family:'Courier New', Courier, monospace;
}
.Acircle{
    position: relative;
    background-color: rgb(0, 255, 0);
    width: 30px;
    height: 30px;
    border-radius: 30px;
}